 body {
     margin: 0;
     background: whitesmoke;
     background-size: cover;
 }


 header {
     position: fixed;
     width: 100%;
     text-align: center;
     transition: .4s;
     background: black;
     color: white;
     padding: 0 0 20px 0;
     margin-top: 0px;
 }

 nav a {
     text-decoration: none;
     color: inherit;
     padding: 1rem;
     overflow: hidden;
 }

 .logo img {
     position: absolute;
     width: 330px;
     height: 100px;
     opacity: 100%;
     margin-top: 0;
     margin-left: 10px;
     display: block;
     overflow: hidden;
 }

 .a{
     padding-top: 150px;
     text-align: center;
     text-decoration: underline;
     color:black;
 }
 .b{
     padding-top: 20px;
     text-align: left;
     text-decoration: none;
 }

   .login-page {
       width: 360px;
       padding: 10% 0 0;
       margin: auto;
       float: right;
       clear: bot;
   }

   .form {
       position:right;
       background: rgb(0,0,0,0.8);
       max-width: 360px;
       max-height: 100%;
       margin: 0 auto 100px 0px;
       padding: 50px;
       text-align: center;
       overflow: hidden;
       color: ghostwhite;
   }

   .form input {
       font: "Roboto", sans-serif;
       outline: 0;
       background: rgb(242, 243, 239);
       width: 100%;
       border: 0;
       margin: 0 0 15px;
       padding: 15px;
       box-sizing: border-box;
       font-size: 14px;

   }

   .form button {
       font: "Roboto", sans-serif;
       text-transform: uppercase;
       outline: 0;
       background: whitesmoke;
       width: 100px;
       border: 0;
       padding: 15px;
       font-size: 15px;
       cursor: pointer;
       color: rgb(246, 247, 244);
   }

   .form button:hover,
   .form button:active {
       background: rgb(148, 148, 148);
   }

   .form .message {
       margin: 15px 0 0;
       color: aliceblue;
       font-size: 12px;
   }

   .form .message a {
       color: rgb(6, 189, 255);
       text-decoration: none;
   }

   .form .register-form {
       display: none;
   }

   footer{
    background: black;
    color: aliceblue;
    position: fixed;
    padding-bottom: 0px;
    margin-bottom: 0px;
   }